#a3_ul li{
		    line-height: 56px;
		    font-size: 18px;
		}
		.a3_div_head{
		
		    color: #00f5fe;
		    text-align: center;
		    display: inline-block;
		    width: 32%;
		}
		#a3_ul_2 li{
		    line-height: 42px;
		    font-size: 18px;
		}
		#a3_ul_2 li:hover{
			background: #1c318a;
			cursor: pointer;
		}
		.a3_div_content{
		
		    color: #ffffff;
		    text-align: center;
		    display: inline-block;
		    width: 32%;
		}
		.content_div{
		    height: 442px;
		    overflow: hidden;
			padding:0 25px;
		}
		.c2_div_head{
		
		    color: #00f5fe;
		    text-align: center;
		    display: inline-block;
		    width: 32%;
		}
		#c2_ul_2 li{
		    line-height: 53px;
		    font-size: 24px;
		}
		#h2_ul_2 li{
		    line-height: 53px;
		    font-size: 24px;
		}
		.c2_div_content{
		
		    color: #ffffff;
		    text-align: center;
		    display: inline-block;
		    width: 32%;
		}

#hv-wrapper .box1 {
	top: 0;
	left: 0;
	width: 520px;
	height: 562px;
}

#hv-wrapper .box2 {
	top: 580px;
	left: 0;
	width: 520px;
	height: 300px;
}

#hv-wrapper .box3 {
	top: 580px;
	left: 538px;
	width: 835px;
	height: 300px;
}
#hv-wrapper .box4 {
	top: 0;
	left: 1391px;
	width: 480px;
	height: 264px;
}

#hv-wrapper .box5 {
	top: 282px;
	left: 1391px;
	width: 480px;
	height: 280px;
}

#hv-wrapper .box6 {
	top: 580px;
	left: 1391px;
	width: 480px;
	height: 300px;
}
#hv-wrapper .video{
	top: 0;
	left: 538px;
	width: 835px;
	height: 562px;

	border-radius: 16px;
}

#mapdiv {
	width: 835px;
	height: 562px;
	background: #fff;
	border-radius: 16px;
	overflow: hidden;
}
#xpsx_div{
	width: 100%;
	height: 442px;
	margin: 0 auto;
	line-height: 56px; font-size: 28px; overflow: hidden;
}
#xpsx_div li{ height: 42px;}
.people_box {
	position: absolute;
	width: 160px;
	height: 420px;
	top: 60px;
	right: 24px;
	border-radius: 18px;
	z-index: 70000;
	background: #1274d2;
}
.userDw {
	position: absolute;
	bottom: 10px;
	background: #d6b506;
	padding: 5px 42px;
	border-radius: 44px;
	left: 12%;
	font-size: 14px;
	font-weight: bold;
}
.sub-car-box_1 {
	position: absolute;
	width: 90%;
	top: 20px;
	bottom: 0;
	left: 5%;
}
.tree-1::-webkit-scrollbar {/*滚动条整体样式*/
	width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
	height: 1px;
}
.tree-1::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	background: #276eef;
}
.tree-1::-webkit-scrollbar-track {/*滚动条里面轨道*/
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	border-radius: 10px;
	background: #EDEDED;
}
.tree-2::-webkit-scrollbar {/*滚动条整体样式*/
	width: 1px;     /*高宽分别对应横竖滚动条的尺寸*/
	height: 10px;
}
.tree-2::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	background: #276eef;
}
.tree-2::-webkit-scrollbar-track {/*滚动条里面轨道*/
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	border-radius: 10px;
	background: #EDEDED;
}
.nav_show{
	visibility: visible;
	position: absolute;
	width: 250px;
	bottom: 32px;
	left: 26px;
	overflow: visible;
	z-index: 70000;
}
.nav_show a {
	opacity: 1;
	transition: all .2s;
	font-weight: bold;
	color: #ccc;
	display: block;
	float: left;
	font-size: 18px;
	width:  46px;
	height: 67px;
	text-align: center;

	line-height: 60px;
	margin-left: 10px;

	/*border-radius: 50px;*/
}
.nav_show a:hover {
	color: #fff;
	font-size: 22px;
}
.nav_show a:nth-child(1){
	animation: nav_in .2s 0.15s forwards;
	/*background: #a72f2f;*/
	background: url("../img/grid.png") no-repeat;
	}
.nav_show a:nth-child(2) {
	animation: nav_in .2s 0.025s forwards;
	/*background: #a7219d;*/
	background: url("../img/viedo.png") no-repeat;
}
.nav_show a:nth-child(3) {
	animation: nav_in .2s 0.025s forwards;
	background: #10a71b;

}
#op_erateCaozuo,#Caozuo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 99999;
}
.main {
	padding:20px 0;
	height:565px;
	background:#04236d;
	border-radius:20px;
	position:absolute;
	top:20%;
	left:25%;
	width:55%;
}
.main2 {
	padding: 20px 0;
	height: 615px;
	background: #04236d;
	border-radius: 20px;
	position: absolute;
	top: 20%;
	left: 25%;
	width: 72%;
}
.main .title{
	font-size: 22px;	
	text-indent:30px;
	border-bottom: 1px solid #1C318A;
	line-height: 60px;
}
.close a {
	position:absolute;
	top:14px;
	right:20px;
	font-size:40px;
	color:#fff;
	z-index:70003;
	cursor:pointer;
}
.close a:hover {
	color:#00f5fe
}
.approval{
	padding:20px 40px;
	height:450px;
	overflow: auto;
}
.approval::-webkit-scrollbar {
	display: none;
}
.approval p{
	line-height:40px;
	font-size: 18px;
}
.approval p span{
	line-height: 40px;
	font-size: 18px;
	color: #00f5fe;
}

