#a3_ul li {
    line-height: 56px;
    font-size: 18px;
}

.a3_div_head {
    color: #00f5fe;
    text-align: center;
    display: inline-block;
    width: 32%;
}

#a3_ul_2 {
    padding: 0 20px
}

#a3_ul_2 li {
    height: 42px;
    font-size: 18px;
    position: relative;
    padding: 10px 0;
}

#a3_ul_2 li:hover {
    background: #1c318a;
    cursor: pointer;
}

#a3_ul_3 li:hover {
    background: #1c318a;
    cursor: pointer;
}

.a3_div_contentfirst {
    color: #ffffff;
    text-align: center;
    display: inline-block;
    width: 32%;
}

.a3_div_content {
    color: #ffffff;
    text-align: center;
    width: 30%;
    position: absolute;
}

.a3_div_contentlast {
    color: #ffffff;
    text-align: center;
    display: inline-block;
    width: 32%;
}

.content_div {
    height: 302px;
    overflow: hidden;
    /* padding:0 25px; */
}

.c2_div_head {
    color: #00f5fe;
    text-align: center;
    display: inline-block;
    width: 32%;
}

#c2_ul_2 li {
    line-height: 53px;
    font-size: 24px;
}

#h2_ul_2 li {
    line-height: 53px;
    font-size: 24px;
}

.c2_div_content {
    color: #ffffff;
    text-align: center;
    display: inline-block;
    width: 32%;
}

#xzsp_grfwsx_num {
    position: absolute;
    top: 90px;
    right: 16px;
}

#xzsp_grfwsx_t {
    position: absolute;
    top: 110px;
    left: 125px;
}

#xzsp_grfwsx_t>p {
    font-size: 20px;
}

#xzsp_grfwsx_t>p:first-child {
    font-size: 26px;
    color: #EABA62;
}

#xzsp_grfwsx_num>ul>li {
    margin-top: 3%;
    margin-bottom: 15%;
    color: #819EDA;
    font-size: 16px;
}

.box_sjjs {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.box_sjjs div {
    width: 35%;
    height: 100px;
    border: 1px solid #0A2052;
}

.box_sjjs div p:first-child {
    font-size: 18px;
    padding-top: 15px;
}

.box_sjjs div p:nth-child(2) {
    font-size: 23px;
    padding-top: 15px;
    /* letter-spacing: 10px; */
    position: relative;
    z-index: 9;
}

.box_sjjs div:first-child p:nth-child(2) {
    letter-spacing: 12.5px;
    padding-left: 14px;
}

.box_sjjs div:nth-child(2) p:nth-child(2) {
    letter-spacing: 12.5px;
    padding-left: 10.5px;
}

.box_sjjs div:nth-child(3) p:nth-child(2) {
    letter-spacing: 12.5px;
    padding-left: 12.5px;
}

.box_sjjs div img {
    position: relative;
    z-index: 2;
    top: -33px;
}

.box_sjjs div:first-child img {
    left: 24px;
}

.box_sjjs div:nth-child(2) img {
    left: 8px;
}

.box_sjjs div:nth-child(3) img {
    left: 8px;
}

#hv-wrapper .box1 {
    top: 448px;
    left: 0;
    width: 796px;
    height: 431px;
}

#hv-wrapper .box8 {
    top: 0px;
    left: 0;
    width: 796px;
    height: 431px;
}

#hv-wrapper .box2 {
    top: 0;
    left: 814px;
    width: 520px;
    height: 280px;
}

#hv-wrapper .box3 {
    top: 298px;
    left: 814px;
    width: 520px;
    height: 280px;
}

#hv-wrapper .box4 {
    top: 596px;
    left: 814px;
    width: 520px;
    height: 284px;
}

#hv-wrapper .box5 {
    top: 0;
    left: 1350px;
    width: 520px;
    height: 280px;
}

#hv-wrapper .box6 {
    top: 298px;
    left: 1350px;
    width: 520px;
    height: 280px;
}

#hv-wrapper .box7 {
    top: 596px;
    left: 1350px;
    width: 520px;
    height: 284px;
}

#a33_ul li {
    line-height: 36px;
    font-size: 24px;
}

.a33_div_head {
    color: #00f5fe;
    text-align: center;
    display: inline-block;
    width: 32%;
}

.a33_div_content {
    color: #ffffff;
    line-height: 36px;
    text-align: center;
    display: inline-block;
    width: 32%;
}

ul.a33_ul_2 li {
    line-height: 41px;
    height: 41px;
    /* margin-bottom:10px; */
}

ul.a33_ul_2 li span:nth-child(1) {
    float: left;
    padding-left: 10px;
    font-size: 14px;
}

.a33_ul_2 li:hover {
    background: #1c318a;
    cursor: pointer;
}

ul.a33_ul_2 li a.active {
    color: #fff000;
}

ul.a33_ul_2 li span:nth-child(2) {
    float: right;
    color: #999;
    line-height: 40px;
    font-size: 14px;
    padding-right: 10px;
}

#operate,
#ggzyggxq,
#qxmlxq {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.approval {
    padding: 20px 40px;
    height: 450px;
    overflow: auto;
}

.approval::-webkit-scrollbar {
    display: none;
}

#qxmlxq .approval {
    padding: 20px 40px;
    height: 450px;
    overflow: auto;
}

.approval p {
    line-height: 40px;
    font-size: 18px;
}

.approval p span {
    line-height: 40px;
    font-size: 18px;
    color: #00f5fe;
}

.main .title {
    font-size: 22px;
    text-indent: 30px;
    border-bottom: 1px solid #1C318A;
    line-height: 60px;
}


/* .mainTitle a:hover{
	color:#00f5fe;
	cursor: pointer;
	border-bottom: 1px solid #00f5fe;
} */