* {
	margin: 0;
	padding: 0;
	font-size: 30px;
	font-family: Hiragino Sans GB, microsoft yahei, tahoma;
	color: #f4efff
}
ul,
li {
	list-style: none
}
a {
	text-decoration: none;
}
img {
	border: 0 none
}
html, body {
	width:7680px;
	height:1200px;
	background: #08114a url(../images/bg.jpg) repeat;
	/*overflow:hidden;*/
}

/*头部导航*/
.head{
    width: 100%;
    height: 142px;
    position: relative;
    top: 20px;
}
.time{
    width: 1108px;
    height: 80px;
    background: rgba(37,109,255,.3);
    font-size: 38px;
    color: #ffffff;
    text-align: center;
    line-height: 80px;
    position: absolute;
    left: 145px;
    top: 40px;
    border-radius: 40px;
    -webkit-box-shadow: inset 0 0 10px rgb(25,168,246);
    -moz-box-shadow: inset 0 0 10px rgb(25,168,246);
    box-shadow: inset 0 0 10px rgb(25,168,246);
}
.nav{
    width: 5084px;
    height: 142px;
    position: absolute;
    left: 1412px;
}
.nav ul{
    position: absolute;
    top: 14px;
    z-index: 10;
}
.nav ul:first-child{
    left: 23px;
}
.nav ul:last-child{
    left: 2984px;
}
.nav ul:first-child li{
    -webkit-transform: skewX(22deg);
    -moz-transform: skewX(22deg);
    -ms-transform: skewX(22deg);
    -o-transform: skewX(22deg);
    transform: skewX(22deg);
}
.nav ul:last-child li{
    -webkit-transform: skewX(-22deg);
    -moz-transform: skewX(-22deg);
    -ms-transform: skewX(-22deg);
    -o-transform: skewX(-22deg);
    transform: skewX(-22deg);
}
.nav ul li{
    width: 614px;
    height: 114px;
    text-align: center;
    line-height: 114px;
    float: left;
    cursor: pointer;
    background: rgba(21,155,245,0.3);
    -webkit-box-shadow: inset 0 0 50px rgb(13,147,221);
    -moz-box-shadow: inset 0 0 50px rgb(13,147,221);
    box-shadow: inset 0 0 50px rgb(13,147,221);
}
.nav ul:first-child li a{
    color: #fff;
    display: block;
    font-size: 42px;
    transform: skewX(-22deg);
}
.nav ul:last-child li a{
    color: #fff;
    display: block;
    font-size: 42px;
    transform: skewX(22deg);
}
.nav ul li a:hover{
    color: #00f5fe;
    text-decoration: none;
}
.nav ul:first-child li:hover{
    width: 610px;
    height: 124px;
    line-height: 124px;
    border: 2px solid #00e4ff;
    border-radius: 2px;
    position: relative;
    left: 0;
    top: -6px;
    background: rgba(21,155,245,0.3);
    -webkit-transform: skewX(22deg);
    -moz-transform: skewX(22deg);
    -ms-transform: skewX(22deg);
    -o-transform: skewX(22deg);
    transform: skewX(22deg);
    -webkit-box-shadow: inset 0 0 65px rgb(17,139,218);
    -moz-box-shadow: inset 0 0 65px rgb(17,139,218);
    box-shadow: inset 0 0 65px rgb(17,139,218);
    /*-webkit-box-shadow:outset 0 0 50px rgba(0,0,0,0.5);*/
    /*-moz-box-shadow:outset 0 0 50px rgba(0,0,0,0.5);*/
    /*box-shadow:outset 0 0 50px rgba(0,0,0,0.5);*/
}
.nav ul:last-child li:hover{
    width: 610px;
    height: 124px;
    line-height: 124px;
    border: 2px solid #00e4ff;
    border-radius: 2px;
    position: relative;
    left: 0;
    top: -6px;
    background: rgba(21,155,245,0.3);
    -webkit-transform: skewX(-22deg);
    -moz-transform: skewX(-22deg);
    -ms-transform: skewX(-22deg);
    -o-transform: skewX(-22deg);
    transform: skewX(-22deg);
    -webkit-box-shadow: inset 0 0 65px rgb(17,139,218);
    -moz-box-shadow: inset 0 0 65px rgb(17,139,218);
    box-shadow: inset 0 0 65px rgb(17,139,218);
    /*-webkit-box-shadow:outset 0 0 50px rgba(0,0,0,0.5);*/
    /*-moz-box-shadow:outset 0 0 50px rgba(0,0,0,0.5);*/
    /*box-shadow:outset 0 0 50px rgba(0,0,0,0.5);*/
}
.nav ul:first-child li.active01{
    width: 610px;
    height: 124px;
    color: #00f5fe;
    line-height: 124px;
    border: 2px solid #00e4ff;
    border-radius: 2px;
    position: relative;
    left: 0;
    top: -6px;
    background: rgba(21,155,245,0.3);
    -webkit-transform: skewX(22deg);
    -moz-transform: skewX(22deg);
    -ms-transform: skewX(22deg);
    -o-transform: skewX(22deg);
    transform: skewX(22deg);
    -webkit-box-shadow: inset 0 0 65px rgb(17,139,218);
    -moz-box-shadow: inset 0 0 65px rgb(17,139,218);
    box-shadow: inset 0 0 65px rgb(17,139,218);
}
.nav ul:first-child li.active01 a{
    color: #00f5fe;
}
.nav ul:last-child li.active02{
    width: 610px;
    height: 124px;
    line-height: 124px;
    border: 2px solid #00e4ff;
    border-radius: 2px;
    position: relative;
    left: 0;
    top: -6px;
    background: rgba(21,155,245,0.3);
    -webkit-transform: skewX(-22deg);
    -moz-transform: skewX(-22deg);
    -ms-transform: skewX(-22deg);
    -o-transform: skewX(-22deg);
    transform: skewX(-22deg);
    -webkit-box-shadow: inset 0 0 65px rgb(17,139,218);
    -moz-box-shadow: inset 0 0 65px rgb(17,139,218);
    box-shadow: inset 0 0 65px rgb(17,139,218);
}
.nav ul:last-child li.active02 a{
    color: #00f5fe;
}
.logo{
    width: 1179px;
    height: 142px;
    background: url("../images/logo.png") no-repeat;
    position: absolute;
    left: 1835px;
    z-index: 20;
}


#hv-wrapper{
	width:7560px;
	
}
#hv-wrapper .box {
	position: absolute;
	background-color: rgba(14, 24, 72, 0.5);
}
#hv-wrapper .box1 {
	top:190px;
	left:62px;
	width:672px;
	height:375px;
}
#hv-wrapper .box2 {
	top:606px;
	left:62px;
	width:672px;
	height:440px;
}
#hv-wrapper .box3 {
	top:190px;
	left:771px;
	width:672px;
	height:855px;
}
#hv-wrapper .box4 {
	top:190px;
	left:1480px;
	width:826px;
	height:440px;
}
#hv-wrapper .box5 {
	top:667px;
	left:1480px;
	width:826px;
	height:380px;
}
#hv-wrapper .map {
	position:absolute;
	top:190px;
	left:2350px;
	width:2230px;
	height:855px;
}
#hv-wrapper .mapbg{
	background:url(../images/map_bg.png) no-repeat bottom right;
	}
#hv-wrapper .box6 {
	top:190px;
	left:4480px;
	width:730px;
	height:266px;
}
#hv-wrapper .box7 {
	top:500px;
	left:4480px;
	width:730px;
	height:540px;
}
#hv-wrapper .box8 {
	top:190px;
	left:5260px;
	width:730px;
	height:370px;
}
#hv-wrapper .box9 {
	top:602px;
	left:5260px;
	width:730px;
	height:440px;
}
#hv-wrapper .box10 {
	top:190px;
	left:6037px;
	width:730px;
	height:370px;
}
#hv-wrapper .box11 {
	top:602px;
	left:6037px;
	width:730px;
	height:440px;
}
#hv-wrapper .box12 {
	top:190px;
	left:6820px;
	width:774px;
	height:855px;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
	border: 1px solid #0a3270;
}
.container .icon1,
.container .icon2,
.container .icon3,
.container .icon4 {
	position: absolute;
	display: block;
	z-index: 1;
	width: 41px;
	height: 40px;
}
.container .icon1 {
	top: -1px;
	left: -1px;
	border-left: 1px solid #2ce6ff;
	border-top: 1px solid #2ce6ff;
}
.container .icon2 {
	top: -1px;
	right: -1px;
	border-right: 1px solid #2ce6ff;
	border-top: 1px solid #2ce6ff;
}
.container .icon3 {
	bottom: -1px;
	left: -1px;
	border-left: 1px solid #2ce6ff;
	border-bottom: 1px solid #2ce6ff;
}
.container .icon4 {
	right: -1px;
	bottom: -1px;
	border-bottom: 1px solid #2ce6ff;
	border-right: 1px solid #2ce6ff;
}
.mainTitle {
	line-height:70px;
	font-size: 30px;
	color: #00f5fe;
	box-sizing: border-box;
	text-align: center;
	letter-spacing: 1px;
}
.conditionBox {
	width: 100%;	
	box-sizing: border-box;
	overflow: hidden;
}
.conditionBox p{
	text-align:center
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 4px 0 0;
    border: none;
    text-align: center;
    width: 18px;
    height: 14px;
    font: 16px/14px Tahoma,Verdana,sans-serif;
    color: #c3c3c3;
    text-decoration: none;
    font-weight: 700;
    background: 0 0;
    cursor: pointer;
}
.tree-wggk::-webkit-scrollbar {/*滚动条整体样式*/
    width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
.tree-wggk::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #e3030b;
}
.tree-wggk::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}